:root {
  --navHeight: 80px
}

/* Select all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
  scroll-margin-top: 80px;
}
/* header, main, footer */
header, main, footer {
  min-width: 100%;
}
/* header */
header {
  position: fixed;
  top: 0;
  display: inline-flex;
  justify-content: space-between;
  background-color: #222;
  height: var(--navHeight);
  align-items: center;
  z-index: 50;
  box-shadow: 0 0 6px 4px black;
}

/* main */
main {
  position: relative;
  top: var(--navHeight);
  text-shadow: 1px 1px 10px black;
}

.logo {
  width: 4em;
  margin-left: 10px;
  filter: invert(100%);
}
.logo:hover{
  scale: 1.1;
}
.logo:active {
  scale: 0.9;
}


/* Place the menu to the right of the page. */
.menu {
  display: flex;
  align-items: center;
  margin: 5px 10px 0;
}
.menu-list {
  color: white;
  display: inline-flex;
  list-style: none;
}
.menu-list li {
  padding: 0 5px;
}
.menu-list li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border-radius: 2px;
}
.menu-list li a:hover {
  color: #222;
  background-color: white;
  box-shadow: 0 0 5px 1px black;
  scale: 1.15;
}
.menu-list li a:active {
  scale: 0.9;
}
main img {
  box-shadow: 0 0 10qpx 1px black;
}

/* heading */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-bottom: 15px;
}
h2 {
  padding: 15px 0;
  font-size: 1.7em;
}
h3 {
  font-size: 1.2em;
}



/* sections */

#home, #projects {
  background-color: rgb(100, 100, 100);
}
#resume, #contact {
  background-color: rgb(128, 128, 128)
}

#contact .wrapper div {
  align-items: center;
}



/* Projects */
.projects-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-card {
  width: 300px;
  height: 300px;
  border: 1px solid cyan;
  border-radius: 5px;
  background-color: #333;
  box-shadow: 0 1px 8px 5px rgba(0,0,0,0.3);
  color: white;
  display: inline-block;
}
.project-card:hover {
  scale: 1.05;
}
.project-card p {
  padding: 0 5px;
}


/* Buttons */
.project-btn {
  background-color: #222;
  width: 80px;
  height: 25px;
  cursor: pointer;
  margin: 30px 110px;
}
.project-btn:hover {
  border-color: cyan;
  scale: 1.1;
}
.project-btn:active {
  scale: 0.9;
}
#submit {
  background-color: #333;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
}
#submit:hover {
  border-color: cyan;
  scale: 1.03;
}
#submit:active {
  scale: 0.95;
}


/* wrapper */

.wrapper {
  min-height: calc(100vh - 2*var(--navHeight) + 3px);
  /* align-content: center; */
}
.wrapper img{
  display: block;
  margin: 15px auto;
  box-shadow: 0 0 15px -5px black;
}
.wrapper p {
  text-align: center;
}

.container {
  display: block;
  margin: 0 auto;
  width: 350px;
  /* clear: both; */
}
.container input, .container textarea {
  width: 100%;
  color: #222;
  /* clear: both; */
}

form div {
  margin-top: 5px;
}

table {
  margin: 0 auto;
}
th {
  font-weight: bold;
  font-size: 1.2em;
  padding-right: 10px;
}
td {
  font-size: 1em;
  padding-left: 10px;
}