:root{
  --navHeight: 100px;
  --primaryBoxShadow: 4px 4px 6px black;
  --secondaryBoxShadow: 2px 2px 6px darkviolet;
  --bevel:   box-shadow:  inset 0.2em 0.2em 0.2em 0 rgba(200,200,200,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5), 0 0 15px 2px black;
  --bevel2:  box-shadow:  inset 0.1em 0.1em 0.1em 0 rgba(200,200,200,0.5), inset -0.1em -0.1em 0.1em 0 rgba(0,0,0,0.5), 0 0 15px 2px black;
  --primaryColor: #333;
  --secondaryColor: darkviolet;
  --primaryLinearGradient: linear-gradient(45deg, darkviolet, crimson);
  --secondaryColorInverted: #6bff2c;
}

* {
  color: #fff;
}

body{
  background-color: #222;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 15px;
  border-radius: 50px;
  background-color: #222;
}
body::-webkit-scrollbar-track {
  background-color: #555;
  border-radius: 50px;
  border: 1px solid darkviolet;
}
body::-webkit-scrollbar-thumb {
  background-image: var(--primaryLinearGradient);
  border-radius: 50px;
  border: 1px solid black;
  box-shadow:  inset 0.1em 0.1em 0.1em 0 rgba(200,200,200,0.5), inset -0.1em -0.1em 0.1em 0 rgba(0,0,0,0.5);
}

.bevel {
  box-shadow:  inset 0.2em 0.2em 0.2em 0 rgba(200,200,200,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5), 0 0 15px 2px black;
}

.bevel2 {
  box-shadow:  inset 0.1em 0.1em 0.1em 0 rgba(200,200,200,0.5), inset -0.1em -0.1em 0.1em 0 rgba(0,0,0,0.5), 0 0 15px 2px black;
}

/* Text */
h1, h2, h3, h4, h5, h6, p, label {
  text-shadow: 0 0 8px #111;
}
h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 10px 0;
}
h4 {
  font-size: 1.8rem;
}
p, label {
  font-size: 1rem;
}
/* Text (End) */

/* Custom Classes */
.text-shadow-secondary {
  text-shadow: 0 0 0 black;
}
/* Custom Classes (End) */

/* Header (Start) */

header {
  width: 100%;
}
.navbar {
  box-shadow: 0 0 6px 4px black;
  z-index: 20;
  height: var(--navHeight);
  top: 0;
}
.navbar .navbar-collapse {
  height: calc(var(--navHeight));
  line-height: calc(var(--navHeight) - 20px)
}
.navbar .show {
  height: auto;
  line-height: 30px;
}

.logo {
  /* filter: invert(100%); */
  width: 90px;
  border-radius: 60px;
  box-shadow: 0 0 6px 2px black;
  scale: 1;
}
.logo:hover {
  scale: 1.05;
  background-image: var(--primaryLinearGradient);
  animation: 2s linear spin infinite;
  animation-fill-mode: forwards;
}

.nav-link:hover {
  background-image: var(--primaryLinearGradient);
}

.dropdown-item:hover {
  background-image: var(--primaryLinearGradient);
}
/* Header (End) */


/* Main (Start)*/
main {
  margin-top: 100px;
}

/* Sections */
section {
  width: 100%;
  min-height: calc(100vh - var(--navHeight));
  scroll-margin-top: 100px;

  background-image: url('../assets/img/top-view-dark-modern-workplace-open-laptop.jpg');
  background-attachment: fixed;
  background-size: cover;
}
.section-overlay {
  width: 100%;
  min-height: inherit;
  height: inherit;
}
section:nth-child(odd) .section-overlay {
  background-color: rgba(0, 0, 0, 0.45);
}
section:nth-child(even) .section-overlay {
  background-color: rgba(0, 0, 0, 0.35);
}
section:nth-child(1), section:nth-child(2) {
  background-image: url('../assets/img/top-view-dark-modern-workplace-open-laptop.jpg');
  background-attachment: fixed;
  background-size: cover;
}
section.work-section {
  background-image: url('../assets/img/devices-background.webp');
  background-attachment: fixed;
  background-size: cover;
}
section:nth-child(6), section:nth-child(7) {
  background: url("../assets/img/code-background.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

/* About */
.about-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.about-img {
  grid-column: 1/2;
}
.about-text {
  grid-column: 2/-1;
  width: auto;
  min-height: 350px;
  margin-left: 10px;
  padding: 15px;
  background-color: var(--primaryColor);
}
.profile-img {
  max-width: 300px;
}

/* About (End) */

/* Education */
.education-block {
  width: 70%;
  min-height: 400px;
  padding: 15px;
  background-color: var(--primaryColor);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.education-block p {
  grid-column: 2/-1;
}
.education-block h5, .education-block h6 {
  grid-column: 1/2;
}
.cv-btns {
  grid-column: 1/-1;
}
.cv-open {
  background-color: darkcyan;
  margin: 10px;
}
.cv-download {
  background-color: crimson;
  margin: 10px;
}
.cv-open:hover {
  scale: 1.05;
}
.cv-download:hover {
  scale: 1.05;
}
.cv-open:active {
  scale: 0.9;
}
.cv-download:active {
  scale: 0.9;
}

/* Education (End) */

/* Skills */
.progress {
  width: 90%;
  margin: 10px 0;
  background-color: #999
}

.skills-block {
  width: 70%;
  min-height: 400px;
  padding: 15px;
  background-color: var(--primaryColor);
}

.skills-block .container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.skills-block h4{
  margin: 15px;
}


.skills-block h6 {
  font-size: 15px;
  line-height: 20px;
}
.skills-block img {
  width: 20px;
}
.skills-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bootstrap-skill .progress-bar {
  background-color: blueviolet;
}
/* Skills (End) */


/* Project Cards (Start) */
.project-card {
  min-height: 280px;
  min-width: 280px;
  margin: 1em;
  padding: 0 10px;
  border-radius: 5px;
  color: white;
  display: inline-block;
}
.project-card:hover {
  scale: 1.05;
}
.project-card p {
  padding: 0 5px;
}
.project-preview {
  width: 70%;
  border-radius: 10px;
  border: 1px solid black;
}
.project-preview:hover {
  scale: 1.05;
  border-color: #aaa;
}

.project-btn {
  background-color: #333;
  color: #fff;
  padding: 3px 5px;
  cursor: pointer;
  margin: auto;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  text-shadow: 0 0 5px black;
  margin-bottom: 25px;
}
.project-btn.github {
  background-color: crimson;
}
.project-btn.netlify {
  background-color: darkcyan;
}
.project-btn:hover {
  border-color: var(--secondaryColor);
  background-image: var(--primaryLinearGradient);
  scale: 1.1;
}
.project-btn:active {
  scale: 0.9;
}

#submit {
  background-color: #333;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
}
#submit:hover {
  border-color: var(--secondaryColor);
  scale: 1.02;
  background-image: var(--primaryLinearGradient);
  /* color: var(--secondaryColor); */
}
#submit:active {
  scale: 0.95;
}
/* Project Cards (End)*/



/* Testimonials */

.testimonial-picture {
  width: 90%;
  height: 200px;
  object-fit: cover;
  object-position: top;
  margin: 10px auto;
  border-radius: 15px;
}
.matthew-pic {
  object-position: center;
}

.scroll {
  height: 200px;
  overflow-y: hidden;

  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 50px;
}
.scroll::-webkit-scrollbar-thumb {
  background-image: var(--primaryLinearGradient);
  border-radius: 50px;
}
.scroll:hover {
  overflow-y: auto;
}
.testimonial-card a {
  margin-top: 10px;
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
}
.testimonial-card a:hover {
  background-image: var(--primaryLinearGradient);
  border-color: var(--secondaryColor);
  scale: 1.05;
}


/* Testimonials (End) */

/* Contact Form */
input, textarea {
  width: 85%;
  color: #222;
  box-shadow: var(--primaryBoxShadow);
}
/* Contact Form (End) */

/* Sections (End) */
/* Main (End) */

/* Footer */
footer > div {
  box-shadow: 0 0 6px 4px black;
  z-index: 20;
  height: var(--navHeight);
  top: 0;
}
/* Footer (End) */


/* Media Query */

@media only screen and (max-width: 720px) {
  #about {
    padding-bottom: 40px;
  }
  .about-img {
    grid-column: 1/-1;
    margin: 10px auto;
  }
  .about-text {
    grid-column: 1/-1;
    margin-top: 20px;
  }

  .education-block p {
    grid-column: 1/-1;
  }
  .education-block h5, .education-block h6 {
    grid-column: 1/-1;
  }
  .education-block h5 {
    text-decoration-line: underline;
  }
  .education-block strong {
    color: #fff !important;
  };

  .skills-block {
    height: 550px;
    margin-bottom: 40px;
  }
  .html-skill {
    grid-column: 1/-1;
  }
  .css-skill {
    grid-column: 1/-1;
  }
  .javascript-skill {
    grid-column: 1/-1;
  }
  .bootstrap-skill {
    grid-column: 1/-1;
  }
  .excel-skill {
    grid-column: 1/-1;
  }
  .soft-skills {
    grid-column: 1/-1;
  }
}

@media only screen and (max-width: 400px) {
  #about img, #home img {
    margin: auto;
    width: 85%;
  }
  #about .about-container {
    display: flex;
    flex-direction: column;
  }
  .project-card {
    height: 280px;
    width: 90%;
  }
  h2 {
    font-size: 2.5rem;
  }

}

@media only screen and (max-width: 300px) {
  .skills-block {
    width: 90%;
  }
  h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 200px) {
  .logo-link {
    display: none;
  }
  .skills-block {
    width: 95%;
  }
  h2 {
    font-size: 1.5rem;
  }
}
/* Media Query (End) */

/* Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Animation (End) */

/* Main (End) */