:root{
  --navHeight: 100px;
  --primaryBoxShadow: 4px 4px 6px black;
  --secondaryBoxShadow: 2px 2px 6px darkviolet;
  
  --secondaryColor: darkviolet;
  --secondaryColorInverted: #6bff2c;
}

* {
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p, label {
  text-shadow: 0 0 8px black;
}
h2 {
  font-size: 3rem;
  text-transform: uppercase;
}
h4 {
  font-size: 1.8rem;
}
p, label {
  font-size: 1.2rem;
}

/* Custom Classes */
.text-shadow-secondary {
  text-shadow: 0 0 0 black;
}
/* Custom Classes */

/* Header (Start) */

header {
  width: 100%;
}
.navbar {
  box-shadow: 0 0 6px 4px black;
  z-index: 20;
  max-height: var(--navHeight);
  top: 0;
}
.navbar .navbar-collapse {
  height: calc(var(--navHeight));
  line-height: calc(var(--navHeight) - 20px)
}
.navbar .show {
  height: auto;
  line-height: 30px;
}

.logo {
  filter: invert(100%);
  width: 90px;
  border-radius: 50px;
  box-shadow: 0 0 6px 2px #fff;
}
.logo:hover {
  scale: 1.05;
  background-color: var(--secondaryColorInverted);
  animation: 2s linear spin infinite;
}

.nav-link:hover {
  background-color: var(--secondaryColor);
}

.dropdown-item:hover {
  color: darkviolet !important;
  text-shadow: 0 0 4px darkviolet;
}
/* Header (End) */


/* Main (Start)*/
main {
  margin-top: 100px;
}

/* Sections */
section {
  width: 100%;
  min-height: calc(100vh - var(--navHeight));
  scroll-margin-top: 100px;

  background-image: url('../assets/img/top-view-dark-modern-workplace-open-laptop.jpg');
  background-attachment: fixed;
  background-size: cover;
}
.section-overlay {
  width: 100%;
  min-height: inherit;
  height: inherit;
}
section:nth-child(odd) .section-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
section:nth-child(even) .section-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
section:nth-child(1), section:nth-child(2) {
  background-image: url('../assets/img/top-view-dark-modern-workplace-open-laptop.jpg');
  background-attachment: fixed;
  background-size: cover;
}
section.work-section {
  background-image: url('../assets/img/devices-background.webp');
  background-attachment: fixed;
  background-size: cover;
}
section:nth-child(6), section:nth-child(7) {
  background: url("../assets/img/code-background.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}


/* Project Cards (Start) */
.project-card {
  height: 280px;
  width: 280px;
  margin: 1em;
  border: 1px solid var(--secondaryColor);
  border-radius: 5px;
  box-shadow: 0 1px 8px 5px rgba(0,0,0,0.9);
  color: white;
  display: inline-block;
}
.project-card:hover {
  scale: 1.05;
}
.project-card p {
  padding: 0 5px;
}

.project-btn {
  background-color: #111;
  color: #fff;
  /* width: 80px;
  height: 35px; */
  padding: 3px 5px;
  cursor: pointer;
  margin: auto;
  align-items: center;
  text-align: center;
  order: 1px solid black;
}
.project-btn:hover {
  border-color: var(--secondaryColor);
  background-color: var(--secondaryColor);
  scale: 1.1;
}
.project-btn:active {
  scale: 0.9;
}

#submit {
  background-color: #333;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
}
#submit:hover {
  border-color: var(--secondaryColor);
  scale: 1.02;
  background-color: var(--secondaryColor);
  /* color: var(--secondaryColor); */
}
#submit:active {
  scale: 0.95;
}
/* Project Cards (End)*/

.scroll {
  height: 200px;
  overflow-y: hidden;
}
.scroll:hover {
  overflow-y: auto;
}
.testimonial-card a {
  margin-top: 10px;
}
.testimonial-card a:hover {
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
  scale: 1.05;
}



.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(100%);
}

/* About */
.about-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
  ;
}
.about-img {
  grid-column: 1/2;
}
.about-text {
  grid-column: 2/-1;
}

/* About (End) */


/* Contact Form */
input, textarea {
  width: 85%;
  color: #222;
  box-shadow: var(--primaryBoxShadow);
}
/* Contact Form (End) */
/* Sections (End) */
/* Main (End) */

/* Footer */
footer > div {
  box-shadow: 0 0 6px 4px black;
  z-index: 20;
  height: var(--navHeight);
  top: 0;
}
/* Footer (End) */


/* Media Query */
@media only screen and (max-width: 576px) {
  #home img{
    width: 95%;
  }
}

@media only screen and (max-width: 400px) {
  #about img {
    margin: auto;
    width: 85%;
  }
  #about .about-container {
    display: flex;
    flex-direction: column;
  }

}

@media only screen and (max-width: 200px) {
  .logo-link {
    display: none;
  }
}
/* Media Query (End) */

/* Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Animation (End) */

/* Main (End) */