/* Select all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
/* header, main, footer */
header, main, footer {
  min-width: 100%;
}
/* header */
header {
  position: fixed;
  top: 0;
  display: inline-flex;
  justify-content: space-between;
  background-color: #222;
  height: 80px;
  align-items: center;
  z-index: 50;
}

/* main */
main {
  position: relative;
  top: 80px;
}

.logo {
  width: 4em;
  margin-left: 10px;
  filter: invert(100%);
}
/* Place the menu to the right of the page. */
.menu {
  display: flex;
  align-items: center;
  margin: 5px 10px 0;
}
.menu-list {
  color: white;
  display: inline-flex;
  list-style: none;
}
.menu-list li {
  padding: 0 5px;
}
.menu-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  /* border-radius: 5px; */
}
.menu-list li a:hover {
  color: rgb(255, 140, 160);
  background-color: rgba(169, 169, 169, 0.2);
  
}

/* heading */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-bottom: 15px;
}
/* sections */
#home, #projects {
  background-color: rgb(100, 100, 100);
}
#resume, #contact {
  background-color: rgb(128, 128, 128)
}



h2 {
  padding: 15px 0;
  font-size: 1.7em;
}
h3 {
  font-size: 1.2em;
}


#contact .wrapper div {
  align-items: center;
}

.projects-container {
  display: flex;
  justify-content: space-evenly;
}

.project-card {
  width: 300px;
  height: 300px;
  position: relative;
  top: 150px;
  border: 1px solid cyan;
  border-radius: 5px;
  background-color: #333;
  box-shadow: 0 1px 8px 5px rgba(0,0,0,0.3);
  color: white;
  display: inline-block;
  
}

.project-btn {
  background-color: #222;
  width: 80px;
  height: 25px;
  cursor: pointer;
  margin: 30px 110px;
}


.wrapper {
  min-height: 100vh;
  align-content: center;
}
.wrapper img{
  display: block;
  margin: 15px auto;
}
.wrapper p {
  text-align: center;
}

.container {
  display: block;
  margin: 0 auto;
  width: 350px;
  /* clear: both; */
}
.container input, .container textarea {
  width: 100%;
  color: #222;
  /* clear: both; */

}
#submit {
  background-color: #333;
  text-transform: uppercase;
  cursor: pointer;
}


table {
  margin: 0 auto;
}
th {
  font-weight: bold;
  font-size: 1.2em;
  padding-right: 10px;
}
td {
  font-size: 1em;
  padding-left: 10px;
}