* {
  color: #fff;
}

.bg-gray {
  background-color: gray;
}

/* Header (Start)*/

header {
  background-color: #222;
    box-shadow: 0 0 6px 4px black;
}

.navbar {
  height: 100px;
}

.logo {
  filter: invert(100%);
  width: 90px;
}
.logo:hover {
  scale: 1.05;
}
.nav-link:hover {
  color: darkcyan !important;
  scale: 1.05;
}

.dropdown-item:hover {
  color: darkcyan !important;
  text-shadow: 0 0 4px darkcyan;
}

/* Header (End) */


/* Main (Start)*/

main {
  margin-top: 100px;
}

/* Sections */
section {
  height: 100vh;
  scroll-margin-top: 100px;
}
section:nth-child(odd) {
  background-color: rgb(100, 100, 100);
}
section:nth-child(even) {
  background-color: rgb(128, 128, 128)
}


/* Project Cards (Start) */
.project-card {
  height: 280px;
  width: 280px;
  margin: 1em;
  border: 1px solid cyan;
  border-radius: 5px;
  background-color: #333;
  box-shadow: 0 1px 8px 5px rgba(0,0,0,0.3);
  color: white;
  display: inline-block;
}
.project-card:hover {
  scale: 1.05;
}
.project-card p {
  padding: 0 5px;
}

.project-btn {
  background-color: #222;
  color: #fff;
  /* width: 80px;
  height: 35px; */
  padding: 3px 5px;
  cursor: pointer;
  margin: auto;
  align-items: center;
  text-align: center;
  order: 1px solid black;
}
.project-btn:hover {
  border-color: cyan;
  scale: 1.1;
}
.project-btn:active {
  scale: 0.9;
}

#submit {
  background-color: #333;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
}
#submit:hover {
  border-color: cyan;
  scale: 1.02;
  color: cyan;
}
#submit:active {
  scale: 0.95;
}

/* Project Cards (End)*/


.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(100%);
}


/* Contact Form (Start) */

input, textarea {
  width: 100%;
  color: #222;
}

/* Contact Form (End) */

@media only screen and (max-width: 576px) {
  .project-card {
    height: 200px ;
  }
}
/* Main (End) */

